/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(''); /* 기본 웹 배경 이미지 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #333;
    text-align: center;
}

h1 {
    color: black;
    padding: 20px;
    font-family: "Dongle", sans-serif;
    
}

.start-button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.start-button {
    width: 200px; /* 기존의 "시작하기" 버튼 크기 */
    height: 60px; /* 기존의 "시작하기" 버튼 크기 */
    cursor: pointer;
    transition: transform 0.3s;
}

.start-button:hover {
    transform: scale(1.1);
}

/* 모바일 전용 스타일 */
@media (max-width: 600px) {
    body {
        background-image: url('background/soop3.avif'); /* 모바일 배경 이미지 */
    }

    h1 {
        font-size: 100px;
        padding: 15px;
        margin-bottom: 50px;
    }

    .start-button {
        width: 100px; /* 모바일 크기 */
        height: 70px; /* 모바일 크기 */
    }
}
