@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


button {
  overflow: hidden;
  position: relative;
}

button:focus {
  outline: none;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
